/* *{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
}

.container__btn{
    font-size: 1.5rem;
    border-radius: 5px;
    border: 2px solid #fff;
    background-color:blueviolet;
    color: #fff;
    box-shadow: 3px 3px 5px#0007;
    cursor: pointer;
}

.container__span{
    font-size: 2rem;
    font-weight: 600;
    color: #2e2e2e;
} */


/* ////////////////////////////////////////  */

/* label{
    display: block;
    width: 100px;
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
}

form div{
    margin: 1rem 0;
}
.btn{
    padding: 1em;
} */

/* ///////////////////////////////////////  */

input:invalid{
    background-color: red;
}

.button{
    cursor:pointer;
}